@import "tailwindcss";

/* =========================
   BASE GLOBAL
========================= */

html {
  font-size: 16px;
}

body {
  font-family: 'Inter', sans-serif;
}

/* =========================
   UTILITIES PERSONALIZADAS
========================= */

@layer utilities {

  .bg-tinder-gradient {
    background: linear-gradient(135deg, #ff9770 0%, #fb6f92 100%);
  }

  .bg-color-black_pur {
    background: linear-gradient(135deg, #7371fc 0%, #0a100d 100%);
  }

  .text-outline {
    -webkit-text-stroke: 2px gainsboro;
    color: white;
  }

  .text-metal-white {
    color: white;
    text-shadow:
      0 1px 2px rgba(0,0,0,0.8),
      0 0 4px rgba(106, 216, 211, 0.892),
      0 0 10px rgba(255, 255, 255, 0.914),
      0 0 18px rgba(255, 255, 255, 0.347);
  }
}

/* =========================
   COMPONENTS
========================= */

@layer components {

  .hover-bg-color-black_pur {
    @apply hover:bg-gradient-to-r hover:from-[#7371fc] hover:to-[#0a100d];
  }

  .hover-bg-tinder-gradient {
    @apply hover:bg-gradient-to-r hover:from-[#ff9770] hover:to-[#fb6f92];
  }
}